.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;  
}

.App-header {
  background: linear-gradient(to bottom, #7920FF, #2098FF);
  min-height: 80px;
  min-height: 100px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  padding: 1rem 0;
}
label {
  display: block;
}
footer {
  background: #3c3940;
  color: #ededed;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
